.folders {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 150px 150px 150px;
  width: 1000px;
  background-color: aliceblue;
}
.folder-dot-icon {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.folder-container {
  margin: 30px;
  gap: 50px;
}
.folder-name {
  width: 50px;
  margin-left: 5px;
}
.folder-container:hover {
  cursor: pointer;
}
