.folders {
  margin-left: 0px;
  display: flex;
  margin-top: 0px;
  /* border:1px solid black; */
  width:1000px;
  background-color: aliceblue;

}
.folder-container {
  margin: 30px;
}
.folder-name {
  width: 50px;
  margin-left: 5px;
}
.folder-container:hover {
  cursor: pointer;
}
