
.side-button {
    margin-top: -200px;
    margin-left: 50px;
  }
  .new-file-button {
    width: 70px;
    background-color: bisque;
    border-color: azure;
    margin-left: 75px;
  }
  .new-file-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }