.folders {
  margin-left: 600px;
  display: flex;
  margin-top: 100px;
}
.folder-container {
  margin: 30px;
}
.folder-name{
 width: 50px;
 margin-left:5px
}

.side {
  margin-top: -200px;
  margin-left: 50px;
}
.item {
  width: 50px;
  background-color: bisque;
  border-color: azure;
  margin-left: 75px;
}
.item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.drive-image {
  width: 60px;
  height: 60px;
  margin-left: 70px;
}
.folder-container:hover{
  cursor: pointer;

}
